html{
  font-family: Raleway;
}

.principal{
  display: block;
  font-weight: 550;
  font-size: 21px;
  width: 200px;
}

#block1{
  background-color: rgb(255, 252, 0);
  padding:5px 5px 40px 5px;
}

#block2{
  background-color: rgb(255, 0, 107);
  padding:5px 5px 40px 5px;
  /*border: 1px solid black;*/
}

#block3{
  background-color: rgb(255, 252, 0);
  padding:5px 5px 40px 5px;
  text-transform: uppercase;
}
