/*div principal*/
.contenedor{
  margin: 10px;
}

/*div uno y cinco*/
#uno, #cinco{
  display: block;
}

/*div que contiene 3 cajas*/
.caja-padre{
  display: block;
  border: 2px solid rgb(193, 193, 193);
  background-color: rgb(227, 227, 227);
  width: 240px;
  padding: 5px;
  margin: 10px 5px;
}

.caja-hijo, #tres, #cuatro{
  display: inline-block;
}

/*estilos de las cajitas*/
.box{
  width: 20px;
  height: 20px;
  border: 2px solid rgb(193, 193, 193);
  background-color: rgb(227, 227, 227);
  padding: 20px 20px;
  margin: 5px;
}
